
node_modules/
node_modules_bak/*
design-system/assets/fonts/public-sans-v1.008/src/
design-system/docs

*.DS_Store
*_MACOSX
semantic
semantic\/*
design-system/dist/*
public
design-system/build/storybook-static/*
build-storybook.log
yarn

# ignore built files
dist/components/
yarn-error.log
