
node_modules/

design-system/assets/fonts/public-sans-v1.008/src/
design-system/docs

*.DS_Store
*_MACOSX
semantic
semantic\/*
design-system/dist/*
public
design-system/build/storybook-static/*
build-storybook.log
