/**

  Buttons

*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: 500;
	padding: $button-padding;
	color: $button-color;
	font-size: var(--step-0);
	background-color: $button-bg-color;
	border-radius: $button-radius;
	border: $button-border;
	transition: $transition;

	&:focus,
	&:hover {
		color: $button-color;
		background-color: lighten($button-bg-color, 30%);
		outline: 0;
	}
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: $button-sec-color;
	background-color: $button-sec-bg-color;

	&:focus,
	&:hover {
		color: $button-sec-color;
		background-color: darken($button-sec-bg-color, 10%);
	}
}

ul.link-list {
	a:not(.button) {
		color: $color-base-black;
		text-decoration: none;
	}

	svg {
		position: relative;
		top: -.025rem;
		margin-left: 1rem;
		display: inline-block;
		vertical-align: middle;

		path {
			fill: $color-base-white;
		}

		circle {
			fill: $color-base-black;
		}
	}
}