main {
  background: $color-base-white;
  margin-top: 6.75rem;
  @include from ($tablet) {
    margin-top: 12.2rem;
  }
}

.tl-edges {
  overflow: unset !important;
}

#_hj-f5b2a1eb-9b07_feedback_minimized {
  bottom: 1rem !important;
}