@font-face {
  font-family: 'Nantes';
  src: url('fonts/nantes/Nantes-Regular.woff2') format('woff2'), url('fonts/nantes/Nantes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nantes';
  src: url('fonts/nantes/Nantes-RegularItalic.woff2') format('woff2'), url('fonts/nantes/Nantes-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}